In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [9]:
# csv => comma separated value
# tsv => tab separated value
dataset = pd.read_csv('C:/Users/Som/Desktop/Datasets/web_traffic.tsv',delimiter='\t',header=None)
dataset.columns = ['Hours','Hits']
dataset.head()

   Hours    Hits
0      1  2272.0
1      2     NaN
2      3  1386.0
3      4  1365.0
4      5  1488.0

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743 entries, 0 to 742
Data columns (total 2 columns):
Hours    743 non-null int64
Hits     735 non-null float64
dtypes: float64(1), int64(1)
memory usage: 11.7 KB

- Dealing with missing values

In [12]:
dataset = dataset.dropna(axis=0)
dataset.head()

   Hours    Hits
0      1  2272.0
2      3  1386.0
3      4  1365.0
4      5  1488.0
5      6  1337.0

In [13]:
x = dataset.iloc[:,0:1].values #converting into arrays
y = dataset.iloc[:,-1].values
x.shape, y.shape

((735, 1), (735,))